* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* width: 1920px; */
}
.container {
  /* width: 1392px; */
  /* padding-right: 264px;
    padding-left: 264px;  */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px 48px;
  padding: 12px;
  opacity: 1;
  border-radius: 12px;
  border-width: 1px;
  border: 1px solid #d6ceea;
}
.linkHead ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.linkHead ul li {
  margin-left: 10px;
}
.linkHead ul li a {
  text-decoration: none;
  color: #1d1d20;
}
.login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login button {
  border: none;
}
.login button a {
  text-decoration: none;
  color: black;
}
.log-in {
  background: #fff;

  font-weight: 305;
  font-style: Book Body;
  font-size: 16px;

  line-height: 140%;
  letter-spacing: 0%;
}
.sign {
  width: 100px;
  height: 44px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 16px;
  gap: 4px;
  color: #fff;
  opacity: 1;
  border-radius: 8px;

  background: linear-gradient(180deg, #8561ff 9.37%, #6c47ff 100%);
}
