* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fff;
  --secondary-color: #93a2c9;
}
/* font  */
@font-face {
  font-family: "SequelSans";
  src: url("fonts/SequelSans.ttf") format("truetype");
}

body {
  /* width: 1920px; */
}
.container {
  /* width: 1392px; */
  /* padding-right: 264px;
    padding-left: 264px;  */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px 48px;
  padding: 12px;
  opacity: 1;
  border-radius: 12px;
  border-width: 1px;
  border: 1px solid #d6ceea;
}
.linkHead ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.linkHead ul li {
  margin-left: 10px;
}
.linkHead ul li a {
  text-decoration: none;
  color: #1d1d20;
}
.login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.login button {
  border: none;
}
.login button a {
  text-decoration: none;
  color: black;
}
.log-in {
  background: #fff;

  font-weight: 305;

  font-size: 16px;

  line-height: 140%;
  letter-spacing: 0%;
}
.sign {
  width: 100px;
  height: 44px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 16px;
  gap: 4px;
  color: #fff;
  opacity: 1;
  border-radius: 8px;

  background: linear-gradient(180deg, #8561ff 9.37%, #6c47ff 100%);
}

.run {
  margin: 35px 48px;
  height: 285px;
  text-align: center;
}
.planbtn {
  width: 129px;
  height: 32px;
  border: 1px solid #6b41ff;
  border-radius: 9999px;
  padding: 6px 20px;
  color: #1051ad;
  text-decoration: none;
}
.run h1 {
  font-weight: 320;

  font-size: 48px;
  margin: 30px 0 15px 0;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.run p {
  font-weight: 305;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.vidualsbtn {
  border: 1px solid #e3e3fe;
  border-radius: 99px;
  padding: 0 4px 0 4px;
  width: 414px;
  height: 46px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  flex: 1;
  height: 100%;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  margin: 0 4px;
}
.left-btn {
  background: #1051ad;
  color: #fff;
}
.right-btn {
  background: #fff;
}

.cader-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 571px;
  width: 928px;
  margin: 26px auto;
}
.cader-box {
  width: 296px;
  height: 533.42px;
  border-radius: 9.34px;
  border: 0.93px solid #ededee;
  padding: 18px 28px 18px 28px;
}
.cader-box h2 {
  font-weight: 315;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  font-family: "SequelSans", sans-serif;
  margin-bottom: 10px;
  color: #222226;
}
.cader-box p {
  font-family: "SequelSans", sans-serif;
  font-weight: 305;
  font-style: Book Body;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;
}
.cader-box h1 {
  font-family: "SequelSans", sans-serif;
  font-weight: 450;
  font-style: Medium Body;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 20px 0 10px 0;
}
.cader-box button {
  padding: 8px 62px 8px 63px;
  border-radius: 7.47px;
  border: none;
  width: 223px;
  margin-left: 8px;
  background: linear-gradient(90deg, #8561ff, #6c47ff);
  box-shadow: 0px 0.93px 0px 0px #8f6fff inset;
}
.cader-box button a {
  color: #e3e3fe;
  text-decoration: none;
}
.smal-title {
  margin: 18px 0;
  color: #5e5e65;
  font-weight: 305;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}
.cader-box span {
  border: 0.93px solid #e3e3fe;
  border-radius: 92.48px;
  background: linear-gradient(
    94.57deg,
    rgba(202, 206, 255, 0.1) 0%,
    rgba(193, 188, 254, 0.1) 100%
  );
  color: #83848f;
  padding: 0 9px;
  margin-left: 50px;
}
.cader-box ul {
  list-style-type: none;
  margin-top: 25px;
}
.cader-box ul li {
  color: #5e5e6b;
}
.item {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 12px;
}
.item img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.center-box {
  background: #000;
  color: #fff;
  border-color: #000;
}

.center-box button,
.center-box button a {
  background: #fff;
  color: #000;
}

.center-box .center-line {
  color: #fff;
}
.center-box h1,
.center-box h2,
.center-box p,
.center-box span,
.center-box ul li,
.center-box ul li span {
  color: #fff !important;
}

.center-box .center-line img {
  filter: brightness(0) invert(1);
}
.company-logo {
  margin: 20px 0;
}
.line-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.line-2 {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.question {
  background-color: #030527;

  height: 1024px;
  padding: 80px 48px;
}
.question h1 {
  text-align: center;
  font-weight: 320;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 25px;
}
.question h1,
h2 {
  color: var(--primary-color);
}
.question p {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 305;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.box {
  background-color: #181b39;
  margin-bottom: 10px;
  padding: 22px;
  border-radius: 11.25px;
  width: 928px;
}
.first-line {
  display: flex;
  justify-content: space-between;
}
.first-line h2 {
  margin-bottom: 20px;
}
.first-line img {
  width: 24px;
  height: 24px;
}
.box p {
  color: var(--secondary-color);
}
/* 
.image-container {
  position: relative;
  width: 928px;
  height: 307px;
  overflow: hidden;
  background: linear-gradient(
   90deg,
    #ffffff,       /* left white 
    #f7cef9,
    #f66ccf,
    #f8f4fe,
    #c8e6fe,
    #d9eafd,
    #e7e8fa,
    #a889fa 
  );
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
*/ .hero-section {
  width: 928px;
  height: 307px;
  margin: 40px auto;
  border-radius: 12px;

  /* Gradient background */
  background: linear-gradient(
    90deg,
    #ffffff,
    /* left white */ #f7cef9,
    #f66ccf,
    #f8f4fe,
    #c8e6fe,
    #d9eafd,
    #e7e8fa,
    #a889fa /* right purple */
  );

  display: flex;
  flex-direction: column; /* stack h1, p, button */
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  text-align: center;
  padding: 20px;
}
